<%= form_with(model: idea, local: true,html: {class: "new_user"}) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Шлях до картинки' %><br>
    <%= form.text_area :imagepath, placeholder: 'https://bugaga.ru/uploads/posts/2017-03/1489052003_kotik-hosiko-1.jpg' %>
  </div>

  <div class="field">
    <%= form.label :name, 'Заголовок' %><br>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :name, 'Опис Iдеї' %><br>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
var textarea = document.querySelector('textarea');

textarea.addEventListener('keydown', autosize);

function autosize(){
var el = this;
setTimeout(function(){
  el.style.cssText = 'height:auto; padding:0';
  // for box-sizing other than "content-box" use:
  // el.style.cssText = '-moz-box-sizing:content-box';
  el.style.cssText = 'height:' + el.scrollHeight + 'px';
},0);
}
</script>
