<%= link_to 'Э Iдея?', new_idea_path, :id => 'link' %>
<% @ideas.each do |idea| %>
  <a href="/ideas/<%=idea.id%>">
    <div class="idea">
      <%= image_tag(idea.imagepath) %>
      <h2><%= idea.title %></h2>
      <p><%= idea.description %></p>
      <% if idea.score > 0 %>
      <h3 class="upvote">Рейтинг: +<%= idea.score %></h3>
      <% elsif idea.score < 0 %>
      <h3 class="upvote", style="color:red;">Рейтинг: —<%= idea.score.abs %></h3>
      <% else %>
      <h3 class="upvote", style="color:black;">Рейтинг: <%= idea.score.abs %></h3>
      <% end %>
    </div>
  </a>
<% end %>
