<p id="notice"><%= notice %></p>

<div class="idea">
  <%= image_tag(@idea.imagepath) %>
  <h2><%= @idea.title %></h2>
  <p><%= @idea.description %></p>
  <% if @idea.score > 0 %>
  <h3 class="upvote"><%= @idea.score %> +</h3>
  <% elsif @idea.score < 0 %>
  <h3 class="upvote", style="color:red;"><%= @idea.score.abs %> —</h3>
  <% else %>
  <h3 class="upvote", style="color:black;"><%= @idea.score.abs %></h3>
  <% end %>
  <%= link_to '+', like_idea_path(@idea),:class => "up", method: :put %>
  <%= link_to '—', dislike_idea_path(@idea),:class => "down", method: :put %>
</div>
<%= link_to 'Назад', ideas_path, :id => "link" %>
