<h2 style="text-align:center;">Тут Знаходяться Твої Iдеї</h2>
<% @ideas.each do |idea| %>
  <a href="/ideas/<%=idea.id%>">
    <div class="idea">
      <%= image_tag(idea.imagepath) %>
      <h2><%= idea.title %></h2>
      <p><%= idea.description %></p>
      <% if idea.score > 0 %>
      <h3 class="upvote"><%= idea.score %> +</h3>
      <% elsif idea.score < 0 %>
      <h3 class="upvote", style="color:red;"><%= idea.score.abs %> —</h3>
      <% else %>
      <h3 class="upvote", style="color:black;"><%= idea.score.abs %></h3>
      <% end %>
    </div>
  </a>
  <%= link_to 'Видалити', idea,:id => "link", method: :delete, data: { confirm: 'Are you sure?' } if idea.user.id == current_user.id%>
<% end %>
